{% load static  %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Free Software Guy !!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?fa{% static 'mily=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Akhilkumar</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/akhil.jpg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-150">
        <h2 class="mb-0">Akhil
          <span class="text-primary">Kumar</span>
        </h2>
        <div class="lead mb-5">Ernakulam Kochi ,Kakkanad Kerala,India
          <a href="mailto:name@email.com">akhilkumar@disroot.org</a>
          <br>
          <a href="#">+91 8129719068</a>
        </br>
        </div>
        <p class="lead mb-5">I am experienced in area of  Shell scripting/configuration of Linux environments and have hands on experience in Big Data for last 5 months(Jan-May 2019).</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/akeelkumar">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://gitlab.com/akhilgentoo">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/akhilkumar6805">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <br>
          <a>As a Free software person,spent most of the hours on experimenting crawling data from different URL's etc using Python scripts
          Love to get my hands dirty working in different linux environments such as i3WM,Gnome,KDE Palsma,MATE,xfce.My First Linux Destro was
            gentoo Linux,which is a good platfrom to start working on as a Linux Lover !!..
          </a>
        <a>

        </a>
        </br>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h3 class="mb-5">Experience</h3>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h5 class="mb-0">Assoc Software Developer</h5>
            <div class=" mb-3">UST Global(Client:Anthem, Inc)</div>
            <p>Anthem is a leading American Health Insurance Company to transform Managed trusted health
care services. It has Care Management System which cares the best relation between Patients,
Community Providers and Health care Team.
I have been working in Medical Care Management for 1+ years on various applications such as
WMDS, ECC, TriMed and Web Apps (Qhip, COE, and MTB). Initially I was the primary
resource in Legacy applications.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2018 - May 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h5 class="mb-0">Free Software  Developer</h5>
            <div class=" mb-3">World of Desire</div>
            <p>Working in the movement of Free software Development</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2015 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h5 class="mb-0">Infinty Labs</h5>
            <div class=" mb-3">UST Global</div>
            <p>Hands on Experience in
              1) Business to Business Projects ; Social Advocacy.</p>
              2) AI Projects : Adhiti
              3) Out Source projects for Testing
            .</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2017 - Dev 2017</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">
         <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="education">
<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">-->
      <div class="w-100">
        <h3 class="mb-5">Education</h3>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h5 class="mb-0">M.G University</h5>
            <div class=" mb-3">Master of Computer Applications</div>
<!--            <div>Computer Application</div>-->
            <p>Percentage : 68/100</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2015 - Nov 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
<!--            <h3 class="mb-0">M.G University</h3>-->
            <div class="mb-3">Bachelor of Computer Application</div>
            <p>Percentage : 66/100</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jul 2012 - March 2015</span>
          </div>
        </div>

         <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <br>
            <h5 class="mb-0">CBSE</h5></br>
            <div class="mb-3">Computer Science (12th)</div>
            <p>Percentage : 68/100</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2011 - March 2012</span>
          </div>
        </div>

         <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
<!--            <br>-->
<!--            <h5 class="mb-0">CBSE</h5></br>-->
            <div class="mb-3">Computer Science (10th)</div>
            <p>Percentage : 80/100</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2011 - March 2012</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">
 <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="skills">
<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">-->
      <div class="w-100">
        <h3 class="mb-2">Skills</h3>

        <div class=" mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-database"></i>
          </li>
<!--          <li class="list-inline-item">-->
<!--            <i class="fab fa-react"></i>-->
<!--          </li>-->
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
<!--          <li class="list-inline-item">-->
<!--            <i class="fab fa-wordpress"></i>-->
<!--          </li>-->
          <li class="list-inline-item">
            <i class="fab fa-telegram"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-ubuntu"></i>
          </li>
        </ul>

        <div class=" mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
             Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Shell Scripting</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Blogger</li>
          <li>
            <i class="fa-li fa fa-check"></i>
             Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Shell Scripting</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Blogger</li>
          <li>
            <i class="fa-li fa fa-check"></i>
             Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Shell Scripting</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Blogger</li>

        </ul>
      </div>
    </section>

    <hr class="m-0">
<!-- <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="interests">-->

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="interests">

<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">-->


      <div class="w-100">
        <h3 class="mb-5">Interests</h3>
        <p>Apart from being a Software/Web developer, I enjoy most of my time being outdoors.Travel across states in Chennai,Banglore(Mostly southerin India): New food,New style,Love to attend technology meets up in different states and meet up new peoples etc..</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows(Animation movies : Dragon ball,Sports : F1,MotoGP,Football(EPL)) and I spend a large amount of my free time exploring the latest technology advancements .</p>
      </div>
    </section>

<!--    <hr class="m-0">-->

<!--    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">-->
<!--      <div class="w-100">-->
<!--        <h2 class="mb-5">Awards &amp; Certifications</h2>-->
<!--        <ul class="fa-ul mb-0">-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            Google Analytics Certified Developer</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            Mobile Web Specialist - Google Certification</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            1<sup>st</sup>-->
<!--            Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            1<sup>st</sup>-->
<!--            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            2<sup>nd</sup>-->
<!--            Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            1<sup>st</sup>-->
<!--            Place - James Buchanan High School - Hackathon 2006</li>-->
<!--          <li>-->
<!--            <i class="fa-li fa fa-trophy text-warning"></i>-->
<!--            3<sup>rd</sup>-->
<!--            Place - James Buchanan High School - Hackathon 2005</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </section>-->

<!--  </div>-->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
